@import "styles.css";

body {
  background-image:
    linear-gradient(to top left,
      var(--pico-background-color),
      var(--pico-background-color),
      var(--pico-color-zinc-800));
  background-repeat: no-repeat;
}

main.post {
  animation: fade-in 1s;
}

a {
  text-decoration: none;
}

[type=button] {
  border: solid 2px var(--pico-color-blue-500);
  background-color: var(--pico-color-slate-800);
  opacity: 50%;
  padding: 6px;
  transition: 0.3s;
}

[type=button]:hover {
  border: solid 2px var(--pico-color-blue-500);
  background-color: var(--pico-color-blue-500);
  opacity: 100%;
  padding: 10px;
  transition: 0.3s;
}

article.github {
  border: solid 2px var(--pico-color-indigo-500);
  transition: all 0.8s;
}

article.github:hover {
  border: solid 2px var(--pico-color-indigo-500);
  background-color: var(--pico-color-indigo-900);
  transition: all 0.3s;
}

article.linkedin {
  border: solid 2px var(--pico-color-azure-500);
  transition: all 0.8s;
}

article.linkedin:hover {
  background-color: var(--pico-color-azure-900);
  transition: all 0.3s;
}

article.youtube {
  border: solid 2px var(--pico-color-red-500);
  transition: all 0.8s;
}

article.youtube:hover {
  border: solid 2px var(--pico-color-red-500);
  background-color: var(--pico-color-red-900);
  transition: all 0.3s;
}

article.instagram {
  border: solid 2px var(--pico-color-pink-500);
  transition: all 0.8s;
}

article.instagram:hover {
  border: solid 2px var(--pico-color-pink-500);
  background-color: var(--pico-color-pink-900);
  transition: all 0.3s;
}