.post {
  animation-name: fade-in;
  animation-duration: 1s;
}

.new {
  animation: pulse 2s infinite;
}

.old {
  border: solid 2px var(--pico-color-slate-800);
}


@keyframes pulse {
  0% {
    border: solid 2px var(--pico-color-slate-800);
  }

  50% {
    border: solid 2px var(--pico-color-jade-500);
  }

  100% {
    border: solid 2px var(--pico-color-slate-800);
  }

}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}