:root {
  background-color: #343f44;
}

hr,
table,
td {
  border-color: #2d353b;
}

th {
  background: #425258;
  color: #d3c6aa;
  border-color: #425258;
}

tr:nth-child(odd) {
  background: #3d484d;
}

tr {
  background: #343f44;
}

#home {
  background-color: #2d353b;
  color: #2d353b;
}

input {
  display: none !important;
}

a {
  text-decoration: none;
  color: #a7c080;
}

h1>a::before,
h2>a::before,
h3>a::before,
h4>a::before,
h5>a::before,
h6>a::before,
.next::after,
.prev::before,
.home::before,
div.info>p:first-child>span::before,
div.hint>p:first-child>span::before,
div.warn>p:first-child>span::before {
  content: url(data:image/png;base64,)
}

code {
  background: url(data:image/png;base64,) !important;
}

.breadcrumbs {
  display: none !important;
}

samp {
  background: #343f44;
  color: #a7c080;
}

.content {
  background: #2d353b;
  color: #d3c6aa;
  font-family: "Sans";
}

.title,
.home,
h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  background: #3d484d;
  color: #d3c6aa;
}

.version {
  color: #4f585e;
}

.search {
  border: 1px solid #3c3836;
  background: #3c3836;
  color: #458588;
}

.nav {
  background: #343f44;
  color: #d3c6aa;
}

.nav p {
  color: #a7c080;
}

.nav label:hover,
.nav a:hover {
  color: #d3c6aa;
  background: #56635f;
}

.nav .current {
  background: #232a2e;
  color: #d3c6aa;
  border: none !important;
}

.nav li>ul>li {
  background: #2d353b;
}

.nav li>ul>li>a {
  color: #d3c6aa;
  border: none !important;
}

.nav li>ul>li>a:hover {
  color: #d3c6aa;
  background: #56635f;
}

.pre {
  border: 1px solid #475258;
  background: #343f44;
}

.info {
  background: #455047;
}

.info>p:first-child {
  background: #a7c080;
  color: #2d353b;
}

.hint {
  background: #343f44;
}

.hint>p:first-child {
  background: #b16286;
  color: #2d353b;
}

.warn {
  background: #543a48;
}

.warn>p:first-child {
  background: #e67e80;
  color: #2d353b;
}

.btn {
  background: #4f585e;
  color: #d3c6aa;
}

.btn:hover {
  background: #475258;
}

.ui1 {
  font-family: Serif;
  font-size: 12px;
  border: 1px solid #4f585e;
  border-radius: 3px;
  background-image: linear-gradient(#343f44 0%, #343f44 100%);
}

.hl_h {
  background-color: #4f585e;
}

.hl_c {
  color: #859289;
  font-style: italic;
}

.hl_p {
  color: #3a515d;
}

.hl_o {
  color: #e69875;
}

.hl_n {
  color: #7fbbb3;
}

.hl_s {
  color: #d3c6aa;
}

.hl_t {
  color: #a7c080;
}

.hl_k {
  color: #e67e80;
}

.hl_f {
  color: #dbbc7f;
}

.hl_v {
  color: #d699b6;
}